.themeToggle {
    display: flex;
    align-items: center;
    justify-content: center;
    background:transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 0;
}

.themeToggle:hover {
    transform: scale(1.05);
    filter: brightness(1.05);
    /* filter: contrast(105%); */
}

.lottieIcon {
    height: 40px;
    pointer-events: none;
    filter: drop-shadow(0px 2px 2px rgba(0,0,0,0.2));
}

[data-theme='dark'] .lottieIcon {
    filter: drop-shadow(0px 2px 2px rgba(255, 255, 255, 0.2));
}

@media (max-width: 768px) {
    .themeToggle {
        width: 40px;
        height: 40px;
    }

    .lottieIcon {
        width: 30px;
        height: 30px;
        filter: drop-shadow(0px 1px 2px rgba(0,0,0,0.25));
    }
}