.languageToggle {
    display: flex;
    align-items: center;
    gap: 0.35rem;
    background: var(--background-secondary);
    border: 1px solid var(--border-color);
    border-radius: 1.5rem;
    padding: 0.35rem 0.85rem;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 0.8rem;
    color: var(--text-primary);
}

.languageToggle:hover {
    background: var(--primary-color);
    border: 1px solid var(--border-color);
    color: white;
    transform: scale(1.05);
    transition: all 0.3s ease-out;
}

/* revisar */
.languageToggle:hover .flag {
    color: rgba(255, 255, 255, 0.8);
}

.flag {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    color: var(--primary-color);
}


.text {
    font-weight: 600;
}

@media (max-width: 768px) {

    .languageToggle {
        padding: 0.3rem 0.6rem;
        gap: 0.25rem;
        font-size: 0.8rem;
    }

    .flag {
        color: white;
    }

    .text {
        display: none;
    }

}